electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
shamefully-hoist=true
# Workaround for npm optional dependencies bug
# https://github.com/npm/cli/issues/4828
fund=false
